<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Imgur App</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link rel="stylesheet" th:href="@{/styles/index.css}" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap-tagsinput/0.6.1/bootstrap-tagsinput.css}" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

    <script th:src="@{/webjars/bootstrap-tagsinput/0.6.1/bootstrap-tagsinput.min.js}"></script>

    <script src="../scripts/index.js" th:src="@{/scripts/index.js}"></script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Photo Explorer</a>
        </div>
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Menu</p>
            <div class="list-group">
                <a href="index.html" class="list-group-item active">Gallery</a>
                <a href="gallery.html" class="list-group-item">My photos</a>
                <a href="favourites.html" class="list-group-item">Favourites</a>
            </div>
        </div>

        <div class="col-md-9">
            <h2>Public gallery</h2>
            <hr />
            <input data-role="tagsinput" placeholder="Enter tag..." id="tags"/>
            <a href="#" id="findByTagsButton" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-search"></span>Search
            </a>
            <br />
            <br />
            <input type="hidden" id="pageNumber" value="0/0/0"/>
            <div id="imagesList">
                <div id="buttonPanel" role="group" class="btn-group-vertical">
                    <a href="#" id="loadMoreButton" class="btn btn-default btn-sm" role="button">
                        <span class="glyphicon glyphicon-option-horizontal"></span>More
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Image details</h4>
            </div>
            <div class="modal-body">
                <table id="imageDetailsTable">
                    <tr>
                        <td id="imageDetailsImage" rowspan="7"></td>
                    </tr>
                    <tr>
                        <td class="imageDetails">ID:</td>
                        <td id="imageId"></td>
                        <td class="imageDetails">Views:</td>
                        <td id="imageViews"></td>
                    </tr>
                    <tr>
                        <td class="imageDetails">Title:</td>
                        <td id="imageTitle"></td>
                        <td class="imageDetails">Uploaded by:</td>
                        <td id="imageUploader"></td>
                    </tr>
                    <tr>
                        <td class="imageDetails">Description:</td>
                        <td id="imageDescription"></td>
                        <td class="imageDetails">Topic:</td>
                        <td id="imageTopic"></td>
                    </tr>
                    <tr>
                        <td class="imageDetails">Width:</td>
                        <td id="imageWidth"></td>
                        <td class="imageDetails">Link:</td>
                        <td id="imageLink"></td>
                    </tr>
                    <tr>
                        <td class="imageDetails">Height:</td>
                        <td id="imageHeight"></td>
                        <td class="imageDetails">Vote:</td>
                        <td id="imageVote">
                            <input type="hidden" id="voteState" />
                            <a href="#" id="imageVoteButton" class="btn btn-default btn-sm" role="button"
                               data-placement="bottom" data-toggle="popover" title="Vote for image!">
                                <span id="buttonVoteIcon"></span>
                                <span id="buttonVoteText">TEST</span>
                            </a>
                            <div id="popoverContent">
                                <a href="#" role="button" class="imgVote btn btn-sm btn-default">
                                    <input class="state" type="hidden" value="up"/>
                                    <span class="glyphicon glyphicon-thumbs-up"></span>Like
                                </a>
                                <a href="#" role="button" class="imgVote btn btn-sm btn-default">
                                    <input class="state" type="hidden" value="down"/>
                                    <span class="glyphicon glyphicon-thumbs-down"></span>Disike
                                </a>
                                <!--<a href="#" role="button" class="imgVote btn btn-sm btn-default">-->
                                    <!--<input class="state" type="hidden" value=""/>-->
                                    <!--<span class="glyphicon glyphicon-asterisk"></span>Neutral-->
                                <!--</a>-->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="imageDetails">Size:</td>
                        <td id="imageSize"></td>
                        <td class="imageDetails">Favourite:</td>
                        <td id="imageFavourite">
                            <button id="toggleFavourite" type="button" class="btn btn-default btn-sm">
                                <span id="buttonFavouritesIcon"></span>
                                <span id="buttonFavouritesText"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <hr />

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; PhotoExplorer 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

</body>
</html>
